* {
    font-family: 'Poppins';
}

/* hero */

.hero {
    margin-top: -65px;
    height: 75vh;
    width: 100%;
    background-image: url('/img/hero.jpg');
    background-position: center;
    background-size: cover;
}

.overlay {
    background: linear-gradient(to right, #8d2de2da, #4b00e0cb);
    position: absolute;
    height: 75vh;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero-title {
    margin-top: 15%;
}

/* card */

.content {
    margin-top: -70px;
    position: relative;
}

.icon-content {
    margin: 20px;
    color: #474747;
}

.icon-title {
    font-weight: bold;
}

/* board */
.board {
    margin-top: 50px;
}

.board-title {
    margin-bottom: 30px;
}

.offline-img, .maps-img, .onboard-img {
    width: 80%;
}

/* competitions */
.competitions {
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('/img/field.jpg');
    width: 100%;
}

.overlay-competitions {
    background: linear-gradient(to right, #8d2de2da, #4b00e0cb);
    width: 100%;
    padding: 40px;
}

.title-competitions {
    margin-bottom: 30px;
}

/* subscribe */
.subscribe {
    margin-top: 40px;
}

.submit-btn {
    margin-top: -30px;
    width: 100%;
}


/* responsive */

@media screen and (max-width: 600px) {
    .hero-title {
        margin-top: 30%;
    }

    .content {
        margin-top: 30px;
    }

    .flex-s {
        display: flex;
        flex-direction: column; /* Stack on top */
    }

    .box-a {
        order: 2; /* Go down, bring Box B up */
    }
}
